.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.masthead h1 {
  line-height: 1em;
  font-size: 50px;
  display: inline-block;
  color:red;
}
.sub-title {
  font-size: 25px;
  padding-left: 20px;
  color: #64747F;
}

.masthead ul {

  text-align: center;
  margin:0
}

.masthead li {
  display: inline-block;
  border: #fff 1px solid;
  width: 16%;
  background-color:#000;
  padding-top: 15px;
  float: left;
  height:35px;
}

.masthead a {
  font-size: 20px;
  color:white;
  text-decoration: none;
}

.c8 {
  width: 60%;
  float: left;
  padding-left:40px;
}

.drop-cap {
  float: left; 
  color: #903; 
  font-size: 75px; 
  line-height: .5; 
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px; 
  vertical-align: text-bottom;
  color:  #64747F;
}
.more {
  text-align: right;
}

.c4 {
  width: 30%;
  padding-right: 3%;
  float: right;
}

.article-left {
  border-bottom: #000 1px solid;
}

.ad {
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
}

footer {
  clear: both;
  padding-top: 10px;
  float:left;
}

footer li  {
  display: inline;
}
footer a {
  color: red;
}
footer p {
  padding-left:40px;
}
.ad {
  background-color: grey;
  text-align: center;
}
.c8 img {
  width:100%;
}

.pipe:after{
    content: "|";
    color: #777778;   
}