.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: #64747F;
  line-height: 1.5em;

}

.masthead>h1 {
  line-height: 1em;
  font-size: 50px;
  display: inline-block;
  color:red;
  margin-left: 40px;
  font-family: helvetica;
  font-weight: lighter;
  margin-bottom: -20px;
}

.sub-title {
  font-size: 25px;
  padding-left: 20px;
  color: #64747F;
}

.masthead ul {
  
  text-align: center;
  margin:0
}

.masthead li {
  display: inline-block;
  border: #fff 1px solid;
  width: 16%;
  background-color:#000;
  padding-top: 15px;
  float: left;
  height:35px;
}

.masthead a {
  font-size: 20px;
  color:white;
  text-decoration: none;
}
.masthead>h2 {
  font-family: helvetica;
  font-weight: lighter;
  margin-left: 20px;
  line-height: 1em;
  font-size: 20px;
  display: inline-block;
  color: grey;
}
h2 {
  font-weight: lighter;
  font-family: helvetica;
}
h2.article-title {
  color: #000;
  font-weight: lighter;
  font-family: helvetica;
}

.c8 {
  width: 60%;
  float: left;
  padding-left:40px;
}

.drop-cap {
  float: left; 
  color: #903; 
  font-size: 75px; 
  line-height: .5; 
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px; 
  vertical-align: text-bottom;
  color:  #64747F;
}
.more {
  text-align: right;
}

.c4 {
  width: 30%;
  padding-left: 3%;
  float: left;
  margin-top: 60px;
}

.article-left {
  margin-top: 40px;
  border-bottom: #64747F 1px solid;
}
.article-right {
  border-bottom: #64747F 1px solid;
}


footer {
  clear: both;
  padding-top: 10px;
  float:left;
}

footer li  {
  display: inline;
}
a {
  color: red;
}
footer p {
  padding-left:40px;
}
.ad {
  height:100px;
  width: 100px;
  background-color: #64747F;
  text-align: center;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  vertical-align: center;
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}
.c8 img {
  width:100%;
}

.pipe:after{
    content: "|";
    color: #777778;   
}

